* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: black;
    font-family: sans-serif;
    grid-area: na;
}


.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    right: 0px;
    width: 125px;
    align-items: center;
    transition: all 0.5s;
    background-color: black;
    
}

.nav-active {
    transform: translateY(100vh);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.dropdown_menu div {
    width: 25px;
    height: 3px;
    background-color: grey;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.dropdown_menu {
    margin-right: 3.125rem;
    cursor: pointer;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



#grid_wrapper {

    display: grid;
    grid-template-columns: minmax(300px, 1fr) 125px;
    grid-template-rows: 100px 400px 400px 400px 50px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    ;
}

#grid_wrapper_music {

    display: grid;
    grid-template-columns: minmax(300px, 1fr) 125px;
    grid-template-rows: 100px minmax(400px, 1fr) 80px 900px 50px;
    grid-template-areas: 
    "he na"
    "mg mg"
    "mh mh"
    "ma ma"
    "fo fo"

}

#grid_wrapper_news {

    display: grid;
    grid-template-columns: minmax(300px, 1fr) 125px;
    grid-template-rows: 100px minmax(100px, 1fr) 700px 50px;
    grid-template-areas: 
    "he na"
    "ng ng"
    "ta ta"
    "fo fo"
;
}

#grid_wrapper_about {

    display: grid;
    grid-template-columns: minmax(300px, 1fr) 125px;
    grid-template-rows: 100px 400px 1fr 450px 50px;
    grid-template-areas: 
    "he na"
    "ap ap"
    "st st"
    "sp sp"
    "fo fo"
    ;
}
#header {

grid-area: he;
background-color: black;
display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}



#section_1 {

    grid-area: s1;
    background-image: url("../img/rocco-dipoppa-_uDj_lyPVpA-unsplash.jpg") 
    }

#section_2 {

     grid-area: s2;
     background-color: black;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    border: 2px solid grey;
    padding: 8px;
    }

#section_3 {

    grid-area: s3;
    background-image: url("../img/redd-tkTAZM7m238-unsplash.jpg");
    
}

#music_general {


    grid-area: mg;
    background-image: url("../img/james-stamler-k3heD_KwH0A-unsplash.jpg");
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column; 
   border: 2px solid grey;
   padding: 8px;

}

#music_headline {

    grid-area: mh;
    background-color: black;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column; 
   border: 2px solid grey;

    
}

#music_album {

    grid-area: ma;
    background-image: url("../img/album_cover.jpg");
    background-size: cover;

}

#tour_tickets {

    grid-area: ta;
    background-color: black;
    
}

#news_general {

    grid-area: ng;
    background-color: black;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column; 
   padding: 2px;
}

#about_headline_pic {
    grid-area: ap;
    background-image: url("../img/austin-wade-YZpuFugdy8Q-unsplash.jpg");
    background-size: cover;
}

#about_side_pic {
    grid-area: sp;
    background-image: url("../img/bobby-hendry-MD3rdOB5pxk-unsplash.jpg");
    background-size: cover;
}

#about_side_text {
    grid-area: st;
    background-color: black;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column; 
   padding: 2px;
}
#footer {

grid-area: fo;
background-color: black;
border: 2px solid grey;
 }


h1  {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 43px;

}

h2 {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 31px;

}

h3 {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

th {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

td {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    
}

.information_text {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 2%;

}

.footer_headline {

    font-size: 15px;

}
@media screen and (min-width: 1000px) {
    .dropdown_menu {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 400px 400px 50px;
        grid-template-areas: 
        "he he"
        "na na"
        "s1 s1"
        "s2 s3"
        "fo s3"
        ;
    }

    #grid_wrapper_music {

        display: grid;
        grid-template-columns: minmax(300px, 1fr) 125px;
        grid-template-rows: 100px 100px minmax(400px, 1fr) 80px 900px 50px;
        grid-template-areas: 
        "he he"
        "na na"
        "mg mg"
        "mh mh"
        "ma ma"
        "fo fo"
    
    }

    #grid_wrapper_news {

        display: grid;
        grid-template-columns: minmax(300px, 1fr) 125px;
        grid-template-rows: 100px 100px minmax(100px, 1fr) 700px 50px;
        grid-template-areas: 
        "he he"
        "na na"
        "ng ng"
        "ta ta"
        "fo fo"
    
    }

    #grid_wrapper_about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 400px 400px 50px;
        grid-template-areas: 
        "he he"
        "na na"
        "ap ap"
        "st sp"
        "fo fo"
        ;
    }

    .nav-links {
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        top: 0px;
        right: 0px;
        width: 100%;
        position: relative;
        border: 2px solid grey;
    
    }

    nav {
        justify-content: center;
        flex-direction: row;
        
    }


    .nav-active {
        transform: none;
    }


    #header {

        border: 2px solid grey;

    }
}

